* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #f4f7ff;
}

/* navbar styles */
.banner-container {
  width: 1440px;
  height: 700px;
  background-image: url("Assets/Hero-bg.png");
}
.banner {
  margin: 0 auto;

  /* height: 150px; */
  border: none;
  width: 80%;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* color */
.color {
  color: #4e47ff;
}
.btn {
  background-color: #4e47ff;
  border-radius: 10px;
  padding: 12px 36px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.btn:hover {
  background-color: #8987a1;
  border: 1px solid yellowgreen;
}
.banner h1 {
  font-size: 34px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.banner-content {
  text-align: center;
  margin: 150px 150px;
}
.banner-content h3 {
  font-size: 55px;
}
.banner-content button {
  margin-top: 40px;
}
/* action styles  */
.section {
  margin: 116px 160px 116px 141px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 220px;
}
.section h2 {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-top: 60px;
}
.section p {
  font-size: 24px;
  color: #252432;
  margin-top: 23px;
}
.section button {
  margin-top: 23px;
  margin-bottom: 60px;
}
.section img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
/* user banner */
.user-banner {
  width: 1140px;
  height: 306px;
  margin: 0px auto 137px auto;
  border-radius: 24px;
  padding: 50px 80px;
  background-color: #4e47ff10;
}
.user-banner h1 {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  margin-top: 50px;
}
.user-banner-content {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-top: 40px;
}
.user-banner-content h2 {
  font-size: 80px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #4e47ff;
}
.user-banner-content p {
  font-size: 20px;
  color: #00000050;
  text-align: center;

  margin-bottom: 71px;
}
/* review section */

.review-section {
  margin: 0px 150px;
  width: 80%;
}
.review-section h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.review-container {
  display: flex;
}
.review-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.review-item h3 {
  color: #757575;
}
.review-item p {
  color: #b3b3b3;
}
.review-item img {
  border-radius: 9999px;
}
.review-content {
  padding: 24px 24px;
}
.review-content h2 {
  margin-top: 24px;
  margin-bottom: 8px;
}
/* form styles */
.my-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 71px 0px;
}

.form-heading h1 {
  font-size: 70px;
  font-weight: bold;
  color: #000;
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  width: 450px;
}

.form-content {
  margin-bottom: 20px;
}
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  height: 80px;
}

/* footer section */
footer {
  margin-top: 14px;
  padding: 104px 454px;
}
footer h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #4e47ff;
  font-family: "Inter", sans-serif;
}
footer p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #8987a1;
  margin-top: 10px;
}
footer section ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.footer-item {
  font-size: 16px;
  color: #8987a1;
  font-family: "Inter", sans-serif;
}
footer ul li {
  list-style: none;
  /* margin-right: 50px; */
}
footer ul li a {
  text-decoration: none;
  /* font-size: 20px; */
}
